<div class="app-container">
  <!-- Header -->
  <div class="container header-part">
    <form>
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li>
            <a>Trang Chủ</a>
          </li>
          <li>
            <a>Giới thiệu</a>
          </li>
          <li>
            <a>Khóa Học</a>
          </li>
          <li>
            <a>Liên Hệ</a>
          </li>
        </ul>
      </div>
    </form>
  </div>


  <!-- Content -->
  <div class="container content-part">
    <app-welcome>Loading welcome page...</app-welcome>
  </div>

  <div class="container footer-part">
    <div class="col-xs-12 footer-logo">
      <div class="col-xs-6">
          <span class="pull-right"><img src="../assets/logo.jpg" alt="Logo"></span>
      </div>
      <div class="col-xs-6">
        <span class="pull-left">Trung Tâm Ngoại Ngữ</span>
      </div>
    </div>
    <div class="col-xs-12 footer-info">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          111 Nguyễn Văn Linh, Quận Hải Châu, TP. Đà Nẵng
        </div>
        <div class="col-xs-12 col-sm-6">
          <div>Phone: 0999 345 678</div>
          <div>Email: trungtam-email@example.com</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 footer-soical">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-2 text-right">
          <img src="../assets/facebook-icon.png" alt="Facebook">
        </div>
        <div class="col-xs-2 text-center">
          <img src="../assets/twitter-icon.jpg" alt="Twiter">
        </div>
        <div class="col-xs-3 text-left">
          <img src="../assets/gplus-icon.png" alt="Gplus">
        </div>
      </div>
    </div>
  </div>
</div>