<div class="welcome-page">
  <div class="col-xs-12 background-image text-center">
    <img src="..\assets\background-image.jpg" alt="Background Image">
  </div>


  <div class="col-xs-12 col-sm-6 col-md-4 content">
    <app-contentbox>Loading Content Box...</app-contentbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 content">
    <app-contentbox>Loading Content Box...</app-contentbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 content">
    <app-contentbox>Loading Content Box...</app-contentbox>
  </div>
</div>